<div class="main-page-nebesa-video">
    <h4 class="main-page-nebesa-video__title">Похоронный дом “Небеса” – высокое качество услуг по низким ценам</h4>
    <p class="main-page-nebesa-video__subtitle">Участие города в капитале компании с уверенностью позволяет нам заявлять о том, что обратившись в похоронный дом, вы всегда сможете рассчитывать на высокое качество ритуальных услуг службы по низким ценам.</p>

    <div class="main-page-nebesa-video__block">
        <div class="main-page-nebesa-video__frame">
            <video poster="{{ 'assets/video/video-poster.jpg'|theme }}" controls>
                <source src="{{ 'assets/video/nebesa-video.mp4'|theme }}" type="video/mp4; codecs="avc1.42E01E, mp4a.40.2"">
            </video>
        </div>
        <div class="main-page-nebesa-video__adv">
            <div class="main-page-nebesa-video__adv-item">
                <img src="{{ 'assets/images/icons/20years.svg'|theme }}" alt="">
                <h4>Опыт работы</h4>
                <p>Мы занимаемся организацией похорон в Калуге и Калужской области уже почти четверть века.</p>
            </div>

            <div class="main-page-nebesa-video__adv-item">
                <img src="{{ 'assets/images/icons/reputation.svg'|theme }}" alt="">
                <h4>Порядочность</h4>
                <p>Мы всегда информируем о существующих льготах и компенсациях на погребение.</p>
            </div>
        </div>
    </div>
</div>