<div class="page-template__banner">
    <picture>
        <source srcset="{{ 'assets/images/banner-block-page/early-exit/early-exit-mobile.png'|theme }}" media="(max-width: 560px)">
        <source srcset="{{ 'assets/images/banner-block-page/early-exit/early-exit.png'|theme }}">
        <img src="{{ 'assets/images/banner-block-page/early-exit/early-exit.png'|theme }}" alt="">
    </picture>

    <div class="page-template__banner-text-block">
        <div class="page-template__banner-text">
            <h4>Что делать, если умер близкий человек?</h4>
            <p>Порядок действий в экстренных ситуациях.</p>
        </div>
        
        <a href="/information/dead-checklist">
            <div class="page-template__banner-btn">
                <p>Подробнее</p>
            </div>
        </a>
    </div>
</div>