<div class="early-ready">
    <div class="early-ready__text">
        <h4 class="early-ready__text-title">Поможем подготовить похороны заранее</h4>
        <img src="{{ 'assets/images/early_ready.png'|theme }}" alt="" class="early-ready-img__mobile">
        <p class="early-ready__text-text">Постоянная инфляция, желание обезопасить свои похоронные сбережения и обеспечить себе достойные похороны, не обременяя своих родственников заботами в случае вашей смерти — вот наиболее частые причины, которые подвигают обращаться в наше бюро ритуальных услуг для оформления прижизненного договора. Соглашение позволяет продумать все нюансы церемонии, заранее определить подходящий план похорон и быть уверенным в том, что независимо от экономической ситуации на момент обращения в бюро ритуальных услуг родственникам не придется делать никаких доплат.</p>
        <div class="early-ready__text-btn-phone">
            <a href="/services/dogovor">
                <div class="early-ready__text-btn">
                    <p>Подробнее</p>
                    <img src="{{ 'assets/images/icons/common/angle-btn.svg'|theme }}" alt="">
                </div>
            </a>
            
            <div class="early-ready__text-phone">
                <p>Проконсультироваться об услуге</p>
                <a href="tel:88002220200">
                    <h4>8 800 222 0200</h4>
                </a>
            </div>
        </div>
    </div>

    <img src="{{ 'assets/images/early_ready.png'|theme }}" alt="" class="early-ready-img__desktop">
</div>