<div class="memorial-banner">
    <picture>
        <source srcset="{{ 'assets/images/memorial_installation_mob.png'|theme }}" media="(max-width: 560px)">
        <source srcset="{{ 'assets/images/memorial_installation.png'|theme }}">
        <img src="{{ 'assets/images/memorial_installation.png'|theme }}" alt="">
    </picture>

    <div class="memorial-banner__text-btn">
        <div class="memorial-banner__text">
            <h4>Заказать изготовление и установку памятника</h4>
            <p>Выбрать готовый проект или заказать свой вариант по индивидуальному экскизу</p>
        </div>

        <a href="#">
            <div class="memorial-banner__btn">
                <p>Заказать</p>
            </div>
        </a>
    </div>
</div>