<div class="main-page-organization-list">
    <h4 class="main-page-organization-list__title">Схема организации похорон</h4>
    <div class="main-page-organization-list__wrapper">
        <div class="main-page-organization__subtitle">
            <div class="main-page-organization__subtitle-demitter"></div>
            <p>Подготовка</p>
            <div class="main-page-organization__subtitle-demitter main-page-organization__subtitle-demitter_center"></div>
            <p>процесс</p>
            <div class="main-page-organization__subtitle-demitter"></div>
        </div>

        <div class="main-page-organization__block">
            <div class="main-page-organization__block-line"></div>
            <div class="main-page-organization__block-items">
                <div class="main-page-organization__block-item">
                    <div class="main-page-organization__block-item-num">
                        <p>1</p>
                    </div>
                    <div class="main-page-organization__block-item-line"></div>
                    <div class="main-page-organization__block-item-icon">
                        <img src="{{ 'assets/images/icons/cheme/1.svg'|theme }}" alt="">
                    </div>
                    <div class="main-page-organization__block-item-icon-text-btn">
                        <p class="main-page-organization__block-item-icon-text">Консультация</p>
                        <div class="main-page-organization__block-item-btn" data-title="Получение консультации" data-subTitle="Заполните данные контактной формы, и наш оператор перезвонит в ближайшее время" data-Controller="recallForm">
                            <p>Заказать</p>
                        </div>
                    </div>
                </div>

                <div class="main-page-organization__block-item">
                    <div class="main-page-organization__block-item-num">
                        <p>2</p>
                    </div>
                    <div class="main-page-organization__block-item-line"></div>
                    <div class="main-page-organization__block-item-icon">
                        <img src="{{ 'assets/images/icons/cheme/2.svg'|theme }}" alt="">
                    </div>
                    <p class="main-page-organization__block-item-icon-text">Оформление документов</p>
                </div>

                <div class="main-page-organization__block-item">
                    <div class="main-page-organization__block-item-num">
                        <p>3</p>
                    </div>
                    <div class="main-page-organization__block-item-line"></div>
                    <div class="main-page-organization__block-item-icon">
                        <img src="{{ 'assets/images/icons/cheme/3.svg'|theme }}" alt="">
                    </div>
                    <p class="main-page-organization__block-item-icon-text">Подбор ритуальных принадлежностей</p>
                </div>

                <div class="main-page-organization__block-item">
                    <div class="main-page-organization__block-item-num">
                        <p>4</p>
                    </div>
                    <div class="main-page-organization__block-item-line"></div>
                    <div class="main-page-organization__block-item-icon">
                        <img src="{{ 'assets/images/icons/cheme/4.svg'|theme }}" alt="">
                    </div>
                    <p class="main-page-organization__block-item-icon-text">Подготовка усопшего к церемонии прощания</p>
                </div>

                <div class="main-page-organization__block-item">
                    <div class="main-page-organization__block-item-num">
                        <p>5</p>
                    </div>
                    <div class="main-page-organization__block-item-line"></div>
                    <div class="main-page-organization__block-item-icon">
                        <img src="{{ 'assets/images/icons/cheme/5.svg'|theme }}" alt="">
                    </div>
                    <p class="main-page-organization__block-item-icon-text">Катафальный транспорт</p>
                </div>

                <div class="main-page-organization__block-item">
                    <div class="main-page-organization__block-item-num">
                        <p>6</p>
                    </div>
                    <div class="main-page-organization__block-item-line"></div>
                    <div class="main-page-organization__block-item-icon">
                        <img src="{{ 'assets/images/icons/cheme/6.svg'|theme }}" alt="">
                    </div>
                    <p class="main-page-organization__block-item-icon-text">Гражданская панихида и регилиозный обряд</p>
                </div>

                <div class="main-page-organization__block-item">
                    <div class="main-page-organization__block-item-num">
                        <p>7</p>
                    </div>
                    <div class="main-page-organization__block-item-line"></div>
                    <div class="main-page-organization__block-item-icon">
                        <img src="{{ 'assets/images/icons/cheme/7.svg'|theme }}" alt="">
                    </div>
                    <p class="main-page-organization__block-item-icon-text">Захоронение или кремация</p>
                </div>

                <div class="main-page-organization__block-item">
                    <div class="main-page-organization__block-item-num">
                        <p>8</p>
                    </div>
                    <div class="main-page-organization__block-item-line"></div>
                    <div class="main-page-organization__block-item-icon">
                        <img src="{{ 'assets/images/icons/cheme/8.svg'|theme }}" alt="">
                    </div>
                    <p class="main-page-organization__block-item-icon-text">Поминальная трапеза</p>
                </div>
            </div>
        </div>
    </div>
</div>