<div class="page-template__banner">
    <picture>
        <source srcset="{{ 'assets/images/banner-block-page/taxi/taxi-banner-mobile.png'|theme }}" media="(max-width: 560px)">
        <source srcset="{{ 'assets/images/banner-block-page/taxi/taxi-banner.png'|theme }}">
        <img src="{{ 'assets/images/banner-block-page/taxi/taxi-banner.png'|theme }}" alt="">
    </picture>

    <div class="page-template__banner-text-block">
        <div class="page-template__banner-text">
            <h4>Бесплатное такси в похоронный дом “Небеса”</h4>
            <p>Такси доставит вас из любой точки города абсолютно бесплатно.</p>
        </div>
        
        <div class="page-template__banner-btn page-template__banner-btn_taxi">
            <p>Заказать такси</p>
        </div>
    </div>
</div>