<div class="recall-block">
    <div class="recall-block__wrapper">
        <div class="recall-form">
            <img src="{{ 'assets/images/icons/common/cross.svg'|theme }}" alt="" class="recall-form__close">
            <div class="recall-form__title">
                <h4>Lorem Ipsum is simply dummy text of the printing</h4>
                <p>Many desktop publishing packages and web </p>
            </div>
            <div class="recall-form__inputs">
                <input type="text" name="recall-name" id="recall-name" placeholder="Ваше имя:">
                <input type="text" name="recall-phone" id="recall-phone" placeholder="Контактный телефон:">
            </div>
            <div class="recall-form__btn">
                <p>Отправить</p>
            </div>
        </div>
    </div>
</div>
