<div class="taxi-recall-block">
    <div class="taxi-recall-block__wrapper">
        <div class="taxi-recall-block__form">
            <div class="taxi-recall-block__form-close">
                <img src="{{ 'assets/images/icons/common/cross.svg'|theme }}" alt="">
            </div>
            <div class="taxi-recall-block__form-header">
                <img src="{{ 'assets/images/taxi-menu/taxi_bg.png'|theme }}" alt="">
                <img src="{{ 'assets/images/taxi-menu/taxi_car.png'|theme }}" alt="" class="taxi-form-car">
            </div>

            <div class="taxi-recall-block__title">
                <h4>Социальное такси</h4>
                <p>Заполните форму и мы вызвем вам такси, которое доставит Вас в наш офис.</p>
            </div>

            <div class="taxi-recall-block__inputs">
                <input type="text" name="" id="" placeholder="Ваше имя">
                <input type="text" name="" id="" placeholder="Контактный телефон">
                <input type="text" name="" id="" placeholder="Ваш адрес">
                <div class="taxi-recall-block__btn">
                    <p>Отправить</p>
                </div>
                <p class="taxi-recall-block__personal">Нажимая на кнопку вы даете согласие на <a href="/private-policy">обработку своих персональных данных</a></p>
            </div>
        </div>
    </div>
</div>