$headerColor: #F0F4FC;
$fontColor: #333333;
$subFontColor: #666666;
$linearColor: linear-gradient(269.5deg, #4C6A9A 0.43%, #269FF7 99.73%);
$yellowLinear: linear-gradient(269.5deg, #FFB800 0.43%, #FFA666 99.73%);
$btnColor: #269FF6;
$btnHover: #238cd6;
$footerColor: #4C6A9A;