<div class="footer-contacts">
    <div class="footer-contacts__map" id="map"></div>
    <div class="footer-contacts__text">
        <h2 class="footer-contacts__text-title">Контакты похоронного дома:</h2>
        <div class="footer-contacts__text-block">
            <div class="footer-contacts__text-block-line">
                <img src="{{ 'assets/images/icons/footer-contacts/1.svg'|theme }}" alt="">
                <p><b>Адрес: </b>Калуга, ул. Зерновая, 17В</p>
            </div>
            <div class="footer-contacts__text-block-line">
                <img src="{{ 'assets/images/icons/footer-contacts/2.svg'|theme }}" alt="">
                <p><b>Телефон: </b><a href="tel:88002220200">8 800 222 0200</a></p>
            </div>
            <div class="footer-contacts__text-block-line">
                <img src="{{ 'assets/images/icons/footer-contacts/3.svg'|theme }}" alt="">
                <p><b>Эл. почта: </b><a href="mailto:info@nebesa40.ru">info@nebesa40.ru</a></p>
            </div>
            <div class="footer-contacts__text-block-line">
                <img src="{{ 'assets/images/icons/footer-contacts/4.svg'|theme }}" alt="">
                <p><b>Режим работы: </b>Круглосуточно</p>
            </div>
            <div class="footer-contacts__text-block-btn" data-title="Форма обратной связи" data-subTitle="Заполните данные контактной формы, и наш оператор перезвонит в ближайшее время" data-Controller="recallForm">
                <p>Перезвоните мне</p>
            </div>
        </div>
    </div>
</div>