<div class="header__mobile-block">
    <div class="header__mobile">
        <div class="box-container">
            <div class="header__mobile-wrapper">
                <div class="header__mobile-logo">
                    <a href="/"><img src="{{ 'assets/images/icons/mobile/header-mobile.svg'|theme }}" alt="Похоронный сервис Небеса"></a>
                </div>
                <div class="header__mobile-phone">
                    <p>Горячая линия:</p>
                    <a href="tel:88002220200"><h4>8 800 222 0200</h4></a>
                </div>
                <a href="tel:88002220200" class="header__mobile-call"><img src="{{ 'assets/images/icons/mobile/header-phone.svg'|theme }}" alt=""></a>
                <div class="header__mobile-search">
                    <img src="{{ 'assets/images/icons/mobile/header-search.svg'|theme }}" alt="">
                </div>
                <div class="header__mobile-menu">
                    <img src="{{ 'assets/images/icons/mobile/header-menu.svg' | theme }}" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="header__mobile-menu-block">
        <div class="box-container">
            <div class="header__mobile-menu-wrapper">
                <div class="header__mobile-menu-location">
                    <img src="{{ 'assets/images/icons/mobile/header-geo.svg'|theme }}" alt="">
                    <p>Калужская область</p>
                </div>

                <div class="header__mobile-menu-catalog">
                    <p>Каталог</p>
                    <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.64021 7.65841L2.09712 0.348908C1.61729 -0.116305 0.839327 -0.116305 0.359728 0.348908C-0.119909 0.813707 -0.119909 1.56757 0.359728 2.03233L7.0342 8.50012L0.359922 14.9677C-0.119715 15.4327 -0.119715 16.1865 0.359922 16.6513C0.83956 17.1162 1.61749 17.1162 2.09732 16.6513L9.64041 9.34164C9.88023 9.10913 10 8.80472 10 8.50016C10 8.19545 9.87999 7.89081 9.64021 7.65841Z" fill="#333333"/>
                    </svg>
                </div>

                <div class="header__mobile-menu-catalog-list">
                    <ul>
                        <li>
                            <a href="/services/funeral">
                                <div class="img-catalog-block">
                                    <img src="{{ 'assets/images/menu-catalog/1.png'|theme }}" alt="">
                                </div>
                                <p>Захоронение</p>
                            </a>
                        </li>

                        <li>
                            <a href="/services/cremacia">
                                <div class="img-catalog-block">
                                    <img src="{{ 'assets/images/menu-catalog/2.png'|theme }}" alt="">
                                </div>
                                <p>Кремация</p>
                            </a>
                        </li>

                        <li>
                            <a href="/services/gruz200">
                                <div class="img-catalog-block">
                                    <img src="{{ 'assets/images/menu-catalog/4.png'|theme }}" alt="">
                                </div>
                                <p>Груз 200</p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="img-catalog-block">
                                    <img src="{{ 'assets/images/menu-catalog/5.png'|theme }}" alt="">
                                </div>
                                <p>Документы на захоронение</p>
                            </a>
                        </li>

                        <li>
                            <a href="/information/funeral-place">
                                <div class="img-catalog-block">
                                    <img src="{{ 'assets/images/menu-catalog/3.png'|theme }}" alt="">
                                </div>
                                <p>Место на кладбище</p>
                            </a>
                        </li>

                        <li>
                            <a href="/information/posobie">
                                <div class="img-catalog-block">
                                    <img src="{{ 'assets/images/menu-catalog/6.png'|theme }}" alt="">
                                </div>
                                <p>Льготы и пособия</p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="header__mobile-menu-taxi-discount">
                    <div class="header__mobile-menu-taxi">
                        <img src="{{ 'assets/images/icons/common/taxi.svg'|theme }}" alt="">
                        <p>Социальное<br>такси</p>
                    </div>

                    <div class="header__mobile-menu-discount" data-title="Получить скидку 5000 ₽" data-subTitle="Заполните форму для получения скидки 5000 ₽ и оператор свяжется с Вами в ближайшее время" data-Controller="GetDiscount">
                        <img src="{{ 'assets/images/discount-mobile.png'|theme }}" alt="">
                        <div class="header__mobile-menu-discount-text">
                            <p>Получить</p>
                            <h4>5000 ₽</h4>
                        </div>
                    </div>
                </div>

                <ul class="header__mobile-menu-nav">
                    <li><a href="/about">О нас</a></li>
                    <li><a href="/services">Услуги</a></li>
                    <li><a href="/information">Информация</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>