<div class="header__top">
    <div class="box-container">
        <div class="header__top-wrapper">
            <div class="header__top-nav-location">
                <nav class="header__top-nav">
                    <ul>
                        <li><a href="/about">О нас</a></li>
                        <li><a href="/services">Услуги</a></li>
                        <li><a href="/information">Информация</a></li>
                        <li><a href="/contacts">Контакты</a></li>
                    </ul>
                </nav>

                <div class="header__top-location">
                    <img src="{{ 'assets/images/icons/common/location.svg'|theme }}" alt="">
                    <p>Калужская область</p>
                </div>
            </div>
            
            <div class="header__top-phone-recall">
                <div class="header__top-phone">
                    <p>Горячая линия:</p>
                    <a href="tel:88002220200"><h4>8 800 222 0200</h4></a>
                </div>
                <div class="header__top-recall" data-title="Форма обратной связи" data-subTitle="Заполните данные контактной формы, и наш оператор перезвонит в ближайшее время" data-Controller="recallForm">
                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.9569 8.53301C11.1609 8.53301 10.3795 8.40853 9.6389 8.1638C9.27602 8.04003 8.82992 8.15357 8.60845 8.38104L7.14673 9.48448C5.45156 8.57959 4.40736 7.53573 3.51483 5.85328L4.58581 4.42965C4.86405 4.15177 4.96385 3.74586 4.84428 3.365C4.5985 2.62055 4.47365 1.83943 4.47365 1.04318C4.47368 0.467966 4.00572 0 3.43054 0H1.04315C0.467965 0 0 0.467966 0 1.04315C0 7.63625 5.36377 13 11.9569 13C12.532 13 13 12.532 13 11.9569V9.57613C13 9.00098 12.532 8.53301 11.9569 8.53301Z" fill="#4C6A9A"/>
                    </svg>
                    <p>Обратный звонок</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header__bottom">
    <div class="box-container">
        <div class="header__bottom-wrapper">
            <div class="header__bottom-logo-catalog">
                <div class="header__bottom-logo">
                    <a href="/"><img src="{{ 'assets/images/icons/common/header-logo.svg'|theme }}" alt="Похоронный онлайн сервис Небеса"></a>
                </div>

                <div class="header__bottom-catalog">
                    <p>Каталог</p>
                    <svg width="25" height="17" viewBox="0 0 25 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="25" height="3" rx="1.5" fill="#333333"/>
                        <rect y="7" width="25" height="3" rx="1.5" fill="#333333"/>
                        <rect y="14" width="25" height="3" rx="1.5" fill="#333333"/>
                    </svg>
                </div>

                <div class="header__bottom-catalog-list">
                    <ul>
                        <li>
                            <a href="/services/funeral">
                                <div class="img-catalog-block">
                                    <img src="{{ 'assets/images/menu-catalog/1.png'|theme }}" alt="">
                                </div>
                                <p>Захоронение</p>
                            </a>
                        </li>

                        <li>
                            <a href="/services/cremacia">
                                <div class="img-catalog-block">
                                    <img src="{{ 'assets/images/menu-catalog/2.png'|theme }}" alt="">
                                </div>
                                <p>Кремация</p>
                            </a>
                        </li>

                        <li>
                            <a href="/services/gruz200">
                                <div class="img-catalog-block">
                                    <img src="{{ 'assets/images/menu-catalog/4.png'|theme }}" alt="">
                                </div>
                                <p>Груз 200</p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="img-catalog-block">
                                    <img src="{{ 'assets/images/menu-catalog/5.png'|theme }}" alt="">
                                </div>
                                <p>Документы на захоронение</p>
                            </a>
                        </li>

                        <li>
                            <a href="/information/funeral-place">
                                <div class="img-catalog-block">
                                    <img src="{{ 'assets/images/menu-catalog/3.png'|theme }}" alt="">
                                </div>
                                <p>Место на кладбище</p>
                            </a>
                        </li>

                        <li>
                            <a href="/information/posobie">
                                <div class="img-catalog-block">
                                    <img src="{{ 'assets/images/menu-catalog/6.png'|theme }}" alt="">
                                </div>
                                <p>Льготы и пособия</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="header__bottom-search">
                <input type="text" name="header__bottom-search-input" id="header__bottom-search-input" placeholder="Поиск по сайту">
                <img src="{{ 'assets/images/icons/common/search.svg'|theme }}" alt="Поиск по сайту">
            </div>

            <div class="header__bottom-taxi__block">
                <div class="header__bottom-taxi">
                    <img src="{{ 'assets/images/icons/common/taxi.svg'|theme }}" alt="">
                    <p>Социальное<br>такси</p>
                </div>

                <div class="header__bottom-taxi-menu">
                    <div class="header__bottom-taxi-menu-header">
                        <img src="{{ 'assets/images/taxi-menu/taxi_bg.png'|theme }}" alt="">
                        <img src="{{ 'assets/images/taxi-menu/taxi_car.png'|theme }}" alt="" class="header__bottom-taxi-menu__car">
                    </div>

                    

                    <div class="header__bottom-taxi-menu__title">
                        <h4>Социальное такси</h4>
                        <p>Заполните форму и мы вызвем вам такси, которое доставит Вас в наш офис.</p>
                    </div>

                    <div class="header__bottom-taxi-menu__inputs">
                        <input type="text" name="taxi-name" id="taxi-name" placeholder="Ваше имя:">
                        <input type="text" name="taxi-phone" id="taxi-phone" placeholder="Контактный телефон:">
                        <input type="text" name="taxi-address" id="taxi-address" placeholder="Ваш адрес">


                        <div class="header__bottom-taxi-btn">
                            <p>Отправить</p>
                        </div>

                        <p class="personal-data">Нажимая на кнопку вы даете согласие на <a href="/private-policy">обработку своих персональных данных</a></p>
                    </div>

                    
                </div>
            </div>
            
            <div class="header__bottom-discount" data-title="Получить скидку 5000 ₽" data-subTitle="Заполните форму для получения скидки 5000 ₽ и оператор свяжется с Вами в ближайшее время" data-Controller="GetDiscount">
                <img src="{{ 'assets/images/discount-img.png'|theme }}" alt="Получить скидку">
                <div class="header__bottom-discount-text">
                    <p>Получить</p>
                    <h4>5000 ₽</h4>
                </div>
            </div>

            
        </div>
    </div>
    
</div>
